# WELCOME TO 15.071X, THE ANALYTICS EDGE!

In [28]:
# Import these libraries to be able to manipulate csv files and perform numerical computing
import numpy as np
import pandas as pd

## Introduction

In [1]:
print(8*6)
print(2 ** 16)

import math #  sqrt function is inside Math Library

print(math.sqrt(2))
print(abs(-65))

48
65536
1.4142135623730951
65

In [3]:
# Getting Help
?math.sqrt

In [4]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(...)
    sqrt(x)

    Return the square root of x.

In [5]:
SquareRoot2 = math.sqrt(2)

In [6]:
SquareRoot2

1.4142135623730951

In [7]:
HoursYears = 365 * 24

In [8]:
HoursYears

8760

In [20]:
# This is for Jupyter Notebook otherwise dir() locals() globals()
%who

HoursYears	 SquareRoot2	 math

In [67]:
# Vectors and Data Frames
# In Python we can create Vectors using built in Python Data Structure of List 
# Or we can use Data Structures provided by numpy or pandas such as numpy array
# Data Frames structure is provided by pandas library

Country = ["Brazil", "China", "India", "Switzerland", "USA"]
LifeExpectancy = [74, 76, 65, 83, 79]

print(Country)
print(LifeExpectancy)
print(Country[0])  # Python uses 0 based index
print(LifeExpectancy[2])

['Brazil', 'China', 'India', 'Switzerland', 'USA']
[74, 76, 65, 83, 79]
Brazil
65

In [37]:
print(np.arange(0,101, 2))

[  0   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34
  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70
  72  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

In [80]:
data = {"Country": Country, "LifeExpectancy": LifeExpectancy}
CountryData = pd.DataFrame(data)
CountryData

       Country  LifeExpectancy
0       Brazil              74
1        China              76
2        India              65
3  Switzerland              83
4          USA              79

In [81]:
CountryData["Population"] = [199000, 1390000, 1240000, 7997, 318000]

In [82]:
CountryData

       Country  LifeExpectancy  Population
0       Brazil              74      199000
1        China              76     1390000
2        India              65     1240000
3  Switzerland              83        7997
4          USA              79      318000